header
  h2 Pixi.js Playground
section.playground
button.refresh-playground.glyphicon.glyphicon-refresh
aside#output
input.repl(type="text")
span.console-label Console
textarea.sandbox(value="// Pixi.js Playground")
select.examples
  for name in examples
    option(value=name, selected=example == name) #{name}
button.run Run!
nav.sandbox
  button.help.glyphicon.glyphicon-question-sign
  button.langswitch-coffee.selected :coffee:
  button.langswitch-vanilla :icecream:
  button.refresh-example.glyphicon.glyphicon-refresh
include help
a#pixi(href="//pixijs.com")
footer
  h3 drag files here
  span &copy; 2013&nbsp;
    a(href="http://nextorig.in") Next Origin