header
  h2 Pixi.js Playground
section.playground
button.refresh-playground.glyphicon.glyphicon-refresh
aside#output
input.repl(type="text")
span.console-label Console
textarea.sandbox(value="// Pixi.js Playground")
select.examples
  for name in examples
    option(value=name, selected=example == name) #{name}
button.run Run!
nav.sandbox
  button.langswitch-coffee.selected :coffee:
  button.langswitch-vanilla :icecream:
  button.refresh-example.glyphicon.glyphicon-refresh
a#pixi(href="//pixijs.com")
footer &copy; 2013&nbsp;
  a(href="http://nextorig.in") Next Origin